

.logo {
    text-transform: none;     font-size: 20px;     letter-spacing: 0px;     font-weight: 900;     line-height: 35px;     text-align: center;
}

.footer {
    background-color: #fafafa;
    padding-top: 70px;
    padding-bottom: 50px;
}

.footer-description {
    font-size: 12px;     font-weight: 400;     margin: 0 auto;
    width: 410px;     margin-top: 20px;     line-height: 20px;     text-align: left;
}

.footer-links {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 406px;
    margin: 0 auto;
    margin-top: 30px;
}


.footer-description a {
    color: black;
}


* {
    box-sizing: border-box
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}

body,
html {
    height: 100%
}

a img {
    border: none
}

blockquote {
    quotes: none
}

blockquote:after,
blockquote:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
td,
th {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body {
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

ul {
    list-style-type: none
}

img,
video {
    display: block;
    width: 100%
}

button {
    cursor: pointer;
    border: none;
    outline: 0;
    margin: 0;
    padding: 0;
    font-size: 1rem
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

.hide-accessible {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute
}

.hide-invisible {
    visibility: hidden
}

.hide-display {
    display: none
}

header {
    position: absolute;
    top: 1.5em;
    left: 0;
    width: 100%;
    padding: 0 .5em;
    text-align: center;
    overflow: hidden;
    zoom: 1
}

header .logo {
    display: inline-block;
    height: 36px
}

header .logo .logo__part {
    display: inline-block;
    float: left;
    line-height: 36px;
    padding: 0 2px;
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    color: grey
}

header .logo .logo__polygraph {
    width: 126px;
    height: 36px;
    fill: #2a2a2a
}

footer {
    background: #efefef;
    margin-top: 2em;
}

.share {
    padding: 1em;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
    padding: 1em 0 1.5em 0;
    border-bottom: 1px solid #ccc
}

.share .preach {
    display: inline-block;
    padding: 0;
    margin-right: .5em
}

.share .preach span {
    font-weight: 700
}

.share .share__icons {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    zoom: 1
}

.share .share__icons .share__icon {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 1;
    margin-right: .5em;
    display: inline-block
}

.recirc {
    padding: 1em
}

.recirc__hed {
    text-align: center;
    color: #00a27c;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .05em
}

.recirc__articles {
    margin: 0 auto;
    max-width: 50em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center
}

.recirc__article {
    margin: 1em 0;
    padding: 1em;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: .8rem;
    width: 100%
}

.recirc__article p {
    padding: 0;
    margin: 0
}

.recirc .article__headline {
    max-width: 30em;
    margin: 0 auto
}

.recirc .article__date {
    font-weight: 700;
    text-transform: uppercase
}

.recirc .exclude {
    fill: #efefef
}

.newsletter {
    padding: 2em 1em
}

.newsletter__wrapper {
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: .8em
}

.newsletter__header {
    padding: 0;
    margin: 0;
    margin-right: 1em;
    font-weight: 400;
    letter-spacing: .05em
}

.newsletter__footer {
    display: -ms-flexbox;
    display: flex
}

.newsletter__footer input {
    font-size: 1em;
    padding: .2em;
    line-height: 1;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    color: #2a2a2a
}

.newsletter__footer input::-webkit-input-placeholder {
    color: #666
}

.newsletter__footer input::-moz-placeholder {
    color: #666
}

.newsletter__footer input:-ms-input-placeholder {
    color: #666
}

.newsletter__footer input::placeholder {
    color: #666
}

.newsletter__button {
    border: none;
    outline: 0;
    text-transform: uppercase;
    background-color: #00a27c;
    border-radius: 3px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    margin-left: 1em;
    padding: .45em;
    transition: background-color 250ms
}

.newsletter__button:hover {
    background-color: #00d5a3
}

.company {
    padding: 1em;
    background: #fff;
    color: #000;
    display: -ms-flexbox;
    display: flex
}

.company a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #00a27c
}

.company p,
.company ul {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    margin: 0
}

.company__wrapper {
    max-width: 60rem;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    zoom: 1
}

.company__left {
    max-width: 25em;
    padding: 0 1em
}

.company__description {
    max-width: 25em;
    padding: 1em 0
}

.company__right {
    max-width: 25em;
    padding: 0 1em;
    text-align: left
}

.company svg {
    fill: #000
}

.company ul {
    max-width: 40rem;
    margin: 1em auto;
    display: inline-block;
    overflow: hidden;
    zoom: 1
}

.company ul li {
    margin-right: 1.5em;
    float: left
}

.company ul li a {
    text-decoration: none;
    border-bottom: none;
    font-weight: 700
}

.graphic__median {
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 2em;
    position: relative
}

.graphic__median svg {
    cursor: crosshair
}

.graphic__median .item__b,
.graphic__median .item__median {
    display: none
}

.graphic__median .item {
    stroke-width: 2px;
    stroke: none
}

.graphic__median .item__t {
    fill: #f3d0ce
}

.graphic__median .item__t.is-bigger {
    stroke: #d55953;
    fill: #e9a8a5
}

.graphic__median .item__c {
    fill: #9bc6d9
}

.graphic__median .item__c.is-bigger {
    stroke: #3c809f;
    fill: #76b0cb
}

.graphic__median .item-line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px
}

.graphic__median .item-text {
    font-size: 11px;
    fill: #666
}

.graphic__median .item-rect {
    fill: #fff
}

.graphic__median .factor:first-child line {
    stroke: #999;
    stroke-width: 2px
}

.graphic__median .factor:first-child text {
    fill: #666
}

.graphic__median .factor line {
    stroke-dasharray: 4px 4px;
    fill: none;
    stroke: #ccc;
    stroke-width: 1px
}

.graphic__median .factor text {
    font-size: 11px;
    fill: #999
}

.graphic__median .median__tooltip {
    position: absolute;
    display: none;
    width: 120px;
    background: #fff;
    -ms-transform: translate(-50%, 25%);
    transform: translate(-50%, 25%);
    padding: .25em .5em;
    overflow: hidden;
    zoom: 1;
    border-radius: 2px;
    border: 2px solid #ccc
}

.graphic__median .median__tooltip p {
    padding: .25em 0;
    line-height: 1;
    margin: 0;
    font-size: 11px;
    font-weight: 400
}

.graphic__median .median__tooltip p .value {
    float: right;
    font-weight: 700
}

.graphic__median .median__tooltip .t {
    color: #d55953
}

.graphic__median .median__tooltip .c {
    color: #3c809f
}

.graphic__median .median__tooltip .tooltip__name {
    font-size: 13px;
    border-bottom: 2px solid currentColor;
    margin-bottom: .25em;
    font-weight: 700
}

.graphic__median .median__tooltip.is-visible {
    display: block
}

.container__popular {
    background: #1a1a1a;
    color: #fff;
    padding-bottom: 1em;
    margin-bottom: 3em
}

.graphic__popular,
.graphic__popular-choose {
    max-width: 60rem;
    margin: 0 auto;
    padding: .75rem
}

.graphic__popular .popular__chart,
.graphic__popular-choose .popular__chart {
    margin-bottom: 4em
}

.graphic__popular .chart__site,
.graphic__popular-choose .chart__site {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 700
}

.graphic__popular .chart__candidate,
.graphic__popular-choose .chart__candidate {
    margin-bottom: 1.5em;
    position: relative;
    z-index: 0
}

.graphic__popular .chart__candidate.is-above,
.graphic__popular-choose .chart__candidate.is-above {
    z-index: 1
}

.graphic__popular .chart__candidate:before,
.graphic__popular-choose .chart__candidate:before {
    display: block;
    text-align: right;
    line-height: 2;
    font-weight: 700;
    font-size: 13px;
    border-top: 2px solid currentColor
}


.graphic__popular .chart__pics,
.graphic__popular-choose .chart__pics {
    margin: 0;
    position: relative;
    cursor: crosshair
}

.graphic__popular .pic,
.graphic__popular-choose .pic {
    position: absolute;
    border: 2px solid #1a1a1a;
    z-index: 0;
    pointer-events: none
}

.graphic__popular .pics__tooltip,
.graphic__popular-choose .pics__tooltip {
    pointer-events: none;
    position: absolute;
    box-shadow: 0 0 2px 2px #efefef;
    display: none;
    background-color: #fff;
    color: #2a2a2a;
    line-height: 1.25;
    font-size: 11px;
    margin: 0;
    padding: 0
}

.graphic__popular .pics__tooltip.is-visible,
.graphic__popular-choose .pics__tooltip.is-visible {
    display: block
}

.graphic__popular .tooltip__img,
.graphic__popular-choose .tooltip__img {
    display: block;
    margin-bottom: .5em
}

.graphic__popular .tooltip__hed,
.graphic__popular-choose .tooltip__hed {
    display: block;
    padding: 0 .5em;
    margin: 0
}

.graphic__popular .tooltip__shares,
.graphic__popular-choose .tooltip__shares {
    display: block;
    padding: .5em;
    margin: 0;
    font-weight: 700
}

.graphic__popular .instructions,
.graphic__popular-choose .instructions {
    font-weight: 700;
    padding: 0;
    font-size: .9em
}

.graphic__popular select,
.graphic__popular-choose select {
    margin-left: .5em;
    font-size: .9em;
    max-width: 7em;
    display: inline-block;
    border: none;
    border-radius: 2px;
    background-color: #efefef;
    cursor: pointer
}

.container__ratio {
    margin-bottom: 2em
}

.container__ratio .ratio__legend {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 .75rem;
    text-align: right
}

.container__ratio .legend__overline {
    text-align: center;
    font-weight: 700;
    margin: 0 auto
}

.container__ratio .legend__vis {
    line-height: 1
}

.container__ratio .legend__vis:before {
    content: '0%';
    display: inline-block;
    font-size: 11px;
    color: #666;
    padding-right: .5em;
    vertical-align: middle
}

.container__ratio .legend__vis:after {
    content: '100%';
    display: inline-block;
    font-size: 11px;
    color: #666;
    padding-left: .5em;
    vertical-align: middle
}

.graphic__ratio {
    overflow: hidden;
    zoom: 1;
    max-width: 40rem;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 0 .75rem
}

.graphic__ratio canvas {
    display: block;
    background-color: #efefef
}

.graphic__ratio table {
    width: 100%
}

.graphic__ratio table td,
.graphic__ratio table th {
    padding: .5em
}

.graphic__ratio table td {
    border-bottom: 1px solid #ccc;
    font-size: 13px
}

.graphic__ratio table thead {
    border-bottom: 2px solid #999
}

.graphic__ratio table th {
    font-size: 13px;
    color: #666;
    font-weight: 700;
    padding-bottom: 0
}

.graphic__ratio table .bar {
    text-align: right
}

.graphic__ratio table .stripes {
    width: 186px
}

.graphic__ratio table .number {
    text-align: right;
    display: none;
    padding-right: 1.5em
}

.container__strip {
    margin: 2em auto
}

.graphic__strip {
    margin: 0 auto;
    max-width: 60rem;
    margin-top: 6em;
    padding: 0 .75rem
}

.graphic__strip .strip {
    width: 100%;
    margin: 0;
    position: relative;
    margin-bottom: 4rem
}

.graphic__strip .site__name {
    font-size: 12px;
    font-weight: 700
}

.graphic__strip canvas {
    display: block;
    cursor: crosshair;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.graphic__strip .annotation {
    position: relative;
    height: 1px;
    color: #666
}

.graphic__strip .annotation__text {
    display: inline-block;
    max-width: 19rem;
    position: absolute;
    bottom: 1em;
    font-size: 11px;
    padding: 0;
    line-height: 1.2;
    background: #fff
}

.graphic__strip .annotation__text span {
    font-weight: 700
}

.graphic__strip .annotation__text.left {
    text-align: left
}

.graphic__strip .annotation__text.left:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    height: .75em;
    width: 1px;
    left: 0;
    background-color: #ccc;
    -ms-transform: translateY(100%);
    transform: translateY(100%)
}

.graphic__strip .annotation__text.right {
    text-align: right
}

.graphic__strip .annotation__text.right:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    height: .75em;
    width: 1px;
    right: 0;
    background-color: #ccc;
    -ms-transform: translateY(100%);
    transform: translateY(100%)
}

.container__time {
    margin-bottom: 2em
}

.graphic__time {
    max-width: 100%;
    margin: 0 auto
}

.graphic__time .area.t {
    fill: #f3d0ce
}

.graphic__time .area.c {
    fill: #9bc6d9
}

.graphic__time .area.b {
    fill: #dcccce
}

.graphic__time .line {
    stroke-width: 3px;
    fill: none
}

.graphic__time .line.t {
    stroke: #d55953
}

.graphic__time .line.c {
    stroke: #3c809f
}

.graphic__time .line.b {
    stroke: #9e7178
}

.graphic__time .axis path {
    stroke: none
}

.graphic__time .axis text {
    fill: #999;
    font-size: 11px
}

.graphic__time .axis .tick:last-child {
    display: none
}

.graphic__time .axis .tick line {
    stroke: #999
}

.graphic__time .percent-marker text {
    font-size: 13px;
    fill: #666
}

.graphic__time .percent-marker line {
    stroke: #ccc;
    stroke-width: 1px;
    stroke-dasharray: 4 4
}

.graphic__time .annotation text {
    font-size: 11px;
    fill: #666;
    text-anchor: middle
}

.graphic__time .annotation line {
    stroke: #999;
    stroke-width: .5px
}

.graphic__time .annotation rect {
    fill: #efefef
}

.graphic__time .desktop {
    display: none
}

.graphic__time .tooltip text {
    fill: #999;
    font-size: 11px
}

.graphic__time .tooltip line {
    stroke: #ccc;
    stroke-width: 1px;
    stroke-dasharray: 4 4
}

.graphic__time .tooltip circle {
    fill: #ccc;
    fill-opacity: .5;
    stroke: #666;
    stroke-width: 2px
}

.intro {
    background-color: #fff;
    padding: .75rem
}

.intro__header {
    margin: 0 auto;
    text-align: center
}

.intro__hed {
    padding-top: 7em;
    text-transform: uppercase;
    font-weight: 700;
    color: #2a2a2a
}

.intro__dek {
    font-weight: 400
}

.intro__byline {
    margin: 3em 0;
    font-weight: 400
}

.intro__prose {
    margin: 0 auto;
    max-width: 40rem
}

.hed__overline {
    font-size: 1.25em
}

.hed__main {
    font-size: 3.5em;
    line-height: 1
}



body {
    background: #fff;
    color: #1a1a1a;
    line-height: 2;
    font-size: 17px
}

a {
    color: #000
}

p {
    margin: 1em 0
}

.story p {
    max-width: 40rem;
    margin: 1em auto;
    padding: 0 .75rem
}


.highlight {
    color: #f85859
}



.trump-bg {
    background-color: #d55953
}


.both-bg {
    background-color: #f8ff5e
}



.graphic-title {
    max-width: 40rem;
    margin: 0 auto
}

.graphic-title {
    padding: 0 .75rem;
    padding-top: 2em;
    margin-bottom: 1em
}

.graphic-hed {
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.75
}

.graphic-dek {
    line-height: 1.75
}

.lite {
    font-weight: 700
}

.outro {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0 1em
}

.outro p {
    font-size: .8em
}

.outro p:first-child {
    padding-top: .5em;
    border-top: 2px solid #ccc
}

@media only screen and (min-width:21em) {
    .hack {
        display: none
    }
    .graphic__popular select,
    .graphic__popular-choose select {
        max-width: 10em
    }
}

@media only screen and (min-width:25em) {
    .hack {
        display: none
    }
    .graphic__popular .instructions,
    .graphic__popular-choose .instructions {
        font-size: 1em
    }
}

@media only screen and (min-width:40em) {
    .hack {
        display: none
    }
    .recirc__article {
        margin: 2em 0;
        width: 50%
    }
    .graphic__popular .chart__site,
    .graphic__popular-choose .chart__site {
        padding-left: 70px;
        padding-bottom: .5em
    }
    .graphic__popular .chart__candidate,
    .graphic__popular-choose .chart__candidate {
        padding-left: 70px;
        padding-right: 70px;
        margin-bottom: 1em
    }
    .graphic__popular .chart__candidate:before,
    .graphic__popular-choose .chart__candidate:before {
        line-height: 1;
        position: absolute;
        width: 60px;
        left: 0;
        top: 2px;
        padding-top: 4px
    }
    .graphic__popular select,
    .graphic__popular-choose select {
        max-width: none
    }
    .graphic__ratio table .number {
        display: table-cell
    }
    .intro__hed {
        padding-top: 10em
    }
}

@media only screen and (min-width:50em) {
    .hack {
        display: none
    }
    .company__wrapper {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
    .company__right {
        text-align: center
    }
    .graphic__time .desktop {
        display: block
    }
}

@media only screen and (min-width:60em) {
    .hack {
        display: none
    }
}
    




@font-face{
  font-family:Asap;
  font-style:normal;
  font-weight:400;
  src:local('Asap'),local('Asap-Regular'),url(../fonts/asap-v4-latin-regular.woff2) format('woff2'),url(../fonts/asap-v4-latin-regular.woff) format('woff')
}
@font-face{
font-family:Asap;
font-style:normal;
font-weight:700;
src:local('Asap Bold'),local('Asap-Bold'),url(../fonts/asap-v4-latin-700.woff2) format('woff2'),url(../fonts/asap-v4-latin-700.woff) format('woff')
}
@font-face{font-family:Lora;
  font-style:normal;
  font-weight:400;
  src:local('Lora'),local('Lora-Regular'),url(../fonts/lora-v9-latin-regular.woff2) format('woff2'),url(../fonts/lora-v9-latin-regular.woff) format('woff')
}
@font-face{font-family:Lora;
  font-style:normal;
  font-weight:700;
  src:local('Lora Bold'),local('Lora-Bold'),url(../fonts/lora-v9-latin-700.woff2) format('woff2'),url(../fonts/lora-v9-latin-700.woff) format('woff')
}



.avatar {
    width: 50px;
    float: left;
    margin-right: 10px;
}

.cursive{
  font-family: 'Cormorant Garamond';
}

.headline{
  font-family: 'Vollkorn';
}


.audio-player,
.audio-player div,
.audio-player h1,
.audio-player a,
.audio-player img,
.audio-player span,
.audio-player button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    width: 120px;
    overflow-y: hidden;
}

div.audio-player {
    position: relative;
    width: 400px;
    height: 120px;
 
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.audio-player h1 {
    position: absolute;
    top: 37px;
    left: 165px;
 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ececec;
    text-shadow: 1px 1px 1px rgba(0,0,0, .5);
}
 
.audio-player .cover {
    position: absolute;
    top: 0;
    left: 0;
}

.mejs-controls .mejs-button button {
    cursor: pointer;
    display: block;
    position: absolute;
    text-indent: -9999px;
}
 
.mejs-controls .mejs-play button,
.mejs-controls .mejs-pause button {
    width: 21px;
    height: 21px;
    top: 35px;
    left: 135px;
    background: transparent url(../img/play-pause.png) 0 0;
}
 
.mejs-controls .mejs-pause button { background-position:0 -21px; }
 
.mejs-controls .mejs-mute button,
.mejs-controls .mejs-unmute button {
    width: 14px;
    height: 12px;
    top: 70px;
    left: 140px;
    background: transparent url(../img/mute-unmute.png) 0 0;
}
 
.mejs-controls .mejs-unmute button { background-position: 0 -12px; }


