<footer class="tk-asap-4">
			<div class="share">
				<p class="preach">Was this your jam? <span>Preach.</span></p>
				<div class="share__icons">
					<div class="share__icon fb-like" data-href="http://polygraph.cool/elections" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
					<div class="share__icon">
						
					</div>
				</div>
			</div>
			
			
			<div class="recirc tk-asap-4">
				<p class="recirc__hed">Go down the rabbit hole...</p>
</div>
</footer>

<div class="footer black center" style="">
  <a href="http://poly-graph.co" style="color: black; text-decoration: none;"><p class="logo tk-ff-tisa-web-pro">Narración Radial de No Ficción 2016/2</p></a>
  <p class="footer-description tk-merriweather">something something.</p>

  <div class="footer-links">
  <div class="col-sm-6">
  	<img class="img-circle avatar" src="https://pbs.twimg.com/profile_images/496089388271411200/Xzc_hDp6_400x400.jpeg"/>
  	<span class="footer-description tk-merriweather">Katherine Páez Ramos</span>


  </div>

 	<div class="col-sm-6"><img class="img-circle avatar" src=" https://pbs.twimg.com/profile_images/576459977310666752/3llgSjHg_400x400.jpeg"/>
 	<span class="footer-description tk-merriweather">Daniela Vaccaro</span>
</div>
    
  </div>
  
</div>