<div id="content">
		<div class="intro">
			<div class="intro__header tk-asap-4">
				<div class="overlay"></div>
				<h1 class="intro__hed tk-asap-7">
					<div class="hed__overline">Reportaje:</div>
					<div class="hed__main"><span class="headline">¿Dónde están las </span><span class="highlight headline">mujeres</span>?</div>
				</h1>
				<p class="intro__dek tk-asap-4">La lucha por la visibilización femenina en la academia</p>
				<p class="intro__byline cursive">Escrito por<br> <a href="https://twitter.com/slakat" target="_blank">Katherine Páez R.</a> &amp; <a href="https://twitter.com/dvvacc" target="_blank">Daniela Vaccaro C.</a> </p>
			</div>
			<div class="intro__prose">
				<p>introducción</p>
		
			</div>
		</div>		
		<div class="story">
			<div class="container__time">
				<div class="graphic-title tk-asap-4">
					<h2 class="graphic-hed">informacion</h2>
		
				</div>
			
				<div class="graphic graphic__time tk-asap-4"></div>
				<p>hmm <span class="lite">daah</span>. hmmm	
				</p>
			</div>
			
			
			<div class="container__popular">
				<div class="graphic-title tk-asap-4">
					<h2 class="graphic-hed">algo destacado</h2>
					<h3 class="graphic-dek">info info</h3>
				</div>
				<div class="graphic graphic__popular tk-asap-4"></div>
				<p>tututut
				</p><div class="graphic graphic__popular-choose tk-asap-4">
					<p class="instructions">cosas </p>
				</div>
			</div>
			
			<p>algo</p>
			
			<section class="outro">
				<p class="methodology"><span class="lite">Metodología:</span> holi
				</p>
				<p>
					explicación
				</p>
				<p class="credits">
					Data vía <a href="" target="_blank">fuente1</a>.
				</p>
			</section>		</div>
		
</div>