<div id="content">
		<div class="intro">
			<div class="intro__header tk-asap-4">
				<div class="overlay"></div>
				<h1 class="intro__hed tk-asap-7">
					<div class="hed__overline">Reportaje:</div>
					<div class="hed__main"><span class="headline">¿Dónde están las </span><span class="highlight headline">mujeres</span>?</div>
				</h1>
				<p class="intro__dek tk-asap-4">La lucha por la visibilización femenina</p>
				<p class="intro__byline cursive">Escrito por<br> <a href="https://twitter.com/slakat" target="_blank">Katherine Páez R.</a> &amp; <a href="https://twitter.com/dvvacc" target="_blank">Daniela Vaccaro C.</a> </p>
			</div>
			<div class="intro__prose">
				<p class="text-justify">Durante el año 2015 la Organización de las Naciones Unidas incluyó la igualdad de género como uno de los 17 Objetivos de Desarrollo Sostenible para el 2030. Se busca aumentar la participación y éxito de las mujeres en el sistema educacional y el mercado del trabajo.	Sin embargo, este año hemos presenciado en Chile y en otras regiones del mundo masivas manifestaciones de mujeres, como la reciente campaña “ni una menos”. Las razones son múltiples, desde brecha salarial, acoso callejero y falta de visibilización de las mujeres en áreas académicas y profesionales. Demandas que son englobadas bajo el término desigualdad de género, concepto que remite a las diferencias socialmente determinadas que existen entre hombres y mujeres. 

				</p>
				<p>El fundamento básico de este problema es el  patriarcado que ha regido nuestras vidas y las de miles de mujeres durante siglos; es la tesis de una natural inferioridad de las mujeres que las relegó de los espacios públicos y de la capacidad de decidir sobre sí mismas.  La percepción de superioridad en relevancia que se le otorga a hombres por parte de los medios,influye en el proceso de socialización lo que  genera estereotipos que se van transmitiendo a los niños desde temprana edad. 
</p>





<div class="audio-player">
    <h1>Myriam Aravena</h1>
    <img class="cover" src="view/media/img/myriam.jpg" alt="">
    <audio id="audio-player3" src="view/media/audios/myriam_1.mp3" type="audio/mp3" controls="controls"></audio>
</div>



		
			</div>
		</div>		
		<div class="story">
			<div class="container__time">
				<div class="graphic-title tk-asap-4">
					<h2 class="graphic-hed">Paneles de Hombres</h2>
		
				</div>
			
				<div class="graphic graphic__time tk-asap-4"></div>
				<p>En el caso de Chile, incluso en los paneles en que se tratan temáticas de género se evidencia la sub-representación ya que aunque invitan a practicar la equidad de género se les olvida invitar a mujeres a hablar del tema. En Finlandia se creó el sitio web , en que se invita a denunciar todas aquellas actividades en que no se contemplen mujeres. 
 <span class="lite trump-bg"><a href="http://allmalepanels.tumblr.com">“congrats you have an all male panel”</a></span>. En Chile existe una iniciativa similar llamada <a href="http://paneldehombres.tumblr.com">“Panel de Hombres”</a>. Myriam Aravena es una de las fundadoras de la iniciativa y aseguró que nos estamos perdiendo una perspectiva del mundo relevante para la toma de decisiones al excluir a las mujeres. 
	
				</p>
			</div>


			
			
			<div class="container__popular">
				<div class="graphic-title tk-asap-4">
					<h2 class="graphic-hed">Techo de Cristal</h2>
					<h3 class="graphic-dek">De acuerdo a cifras de Comunidad Mujer, a fines de 2015, solo el 5,4% de los  directores de empresas IPSA eran mujeres . Si bien es una cifra que sigue siendo baja, es mucho mayor al 1% que había en 2011. Sin embargo, la diferencia con respecto a otros países es abismante: En Inglaterra, ninguna empresa tiene directorios solamente masculinos.  </h3>
				</div>
			</div>

			<div class="col-md-6">

			<iframe width="550" height="350" src="//embed.chartblocks.com/1.0/?c=58297e989973d24f1107ffa4&t=fa27b907d7b4a27" frameBorder="0"></iframe>
			</div>
			<div class="col-md-6">
			<p>María de los Ángeles Fernández, Analista política y directora de Hay Mujeres, indicó que el problema recae en que las mujeres no logran superar el techo de cristal y por tanto no están en los órganos de toma de decisiones.
</p>
<div class="audio-player">
    <h1>María de Los Ángeles Fernández</h1>
    <img class="cover" src="view/media/img/angeles.png" alt="">
    <audio id="audio-player4" src="view/media/audios/angeles.mp3" type="audio/mp3" controls="controls"></audio>
</div>
			</div>

			<img src="view/media/img/infografia-evolucion.jpg"/>
			<img src="view/media/img/infografia-evolucion-2.jpg"/>

						<div class="col-md-6">
						<br><br>
				<div class="audio-player" style="margin: 0 auto">
    <h1>Cristián Leporati</h1>
    <img class="cover" src="view/media/img/cristian.jpg" alt="">
    <audio id="audio-player1" src="view/media/audios/cristian.mp3" type="audio/mp3" controls="controls"></audio>
</div>

<br><br><br><br>

	<div class="audio-player" style="margin: 0 auto">
    <h1>Carolina Méndez</h1>
    <img class="cover" src="view/media/img/carolina.jpg" alt="">
    <audio id="audio-player2" src="view/media/audios/carolina.mp3" type="audio/mp3" controls="controls"></audio>

			</div>

	
	</div>
			<div class="col-md-6">
				<div class=" ">
					<p class="">En política, las mujeres en Chile representan sólo el 12,6% de los actuales parlamentarios en el congreso, dicha proporción es inferior al promedio mundial de presencia de mujeres en el poder legislativo. En busca de mejorar estas estadísticas  se aprobó la ley de cuotas, que exige un 40% de mujeres en cada lista para fijar un piso mínimo de mujeres candidatas que cada conglomerado político puede tener. 
</p>
					<h3 class="">Cristián Leporati,  Director de la Escuela de Publicidad de la Universidad Diego Portales y consejero de organizaciones como Hay Mujeres, reconoció que se trata de una temática de poder y que requiere leyes de cuota para cambiar el paradigma actual.
</h3>
				</div>
			</div>
			
<div class="col-md-6"> 				<div class="graphic graphic__popular-choose tk-asap-4">
					<p class="instructions">La situación de la Universidad Católica es un reflejo de la predominancia masculina que hay en las cúspides de poder. De las 20 facultades, sólo 2 de ellas están lideradas por mujeres. Carolina Méndez, subdirectora Académica de Docencia de la Pontificia Universidad Católica, indicó que la universidad se está haciendo cargo de la temática a través de la creación de una comisión para discutir las necesidades de sus académicas.
 </p>
				</div></div>


<br> 
			
			<section class="">
				<p class="methodology"><span class="lite">La imagen del mundo que se presenta en las noticias sigue siendo predominantemente masculina ya que los hombres figuran como protagonistas en el 76% de ellas.
</span> Paola Andrade, colaboradora de Hay Mujeres indicó que las mujeres tienden a subestimar sus capacidades ya que los medios disminuyen su opinión.
				</p>
				<div class="audio-player" style="margin: 0 auto">
    <h1>Paola Andrade No nos creemos el cuento</h1>
    <img class="cover" src="view/media/img/paola.png" alt="">
    <audio id="audio-player5" src="view/media/audios/paola.mp3" type="audio/mp3" controls="controls"></audio>
</div>

				<p>
					Isabel Arriagada, abogada y Directora de la ONG LEASUR, comentó que la falta de empoderamiento sobre las libertades que se dan las mujeres se relaciona con el hecho de que durante la infancia se disciplina a las niñas para que se auto censuren y no utilicen ni su cuerpo ni espacio como lo hacen los niños.

				</p>

				<div class="audio-player" style="margin: 0 auto">
    <h1>Isabel Arriagada autocensura</h1>
    <img class="cover" src="view/media/img/isabel.jpg" alt="">
    <audio id="audio-player6" src="view/media/audios/isabel.mp3" type="audio/mp3" controls="controls"></audio>
</div>

<br><br><br>

				<iframe width="560" height="315" src="https://www.youtube.com/embed/-VRcDX25Nd4" frameborder="0" allowfullscreen></iframe>

						<div class="col-md-6">
				<p>El 24 de octubre pasado la Presidenta Michelle Bachelet presentó la campaña #LasNiñasPueden. La campaña busca crear conciencia de las capacidades y roles de las niñas y romper con los estereotipos que tenemos sobre qué puede y lo que no puede hacer una mujer.  Emilia Díaz, emprendedora y uno de los rostros de la campaña, destacó la importancia de ver modelos de mujeres normales para que las niñas se sientan capaces de hacer todo lo que se propongan.</p>

				<div class="audio-player" style="margin: 0 auto">
    <h1>Emilia Díaz</h1>
    <img class="cover" src="view/media/img/emilia.png" alt="">
    <audio id="audio-player7" src="view/media/audios/emilia.mp3" type="audio/mp3" controls="controls"></audio>
			</div>

			


			</section>		</div>

<br><br>



			
</section>
		
</div>

<script>
    $(document).ready(function() {
        $('#audio-player1,#audio-player2,#audio-player3, #audio-player4,#audio-player5,#audio-player6,#audio-player7').each( function(){
        	$(this).mediaelementplayer({
            alwaysShowControls: false,
            features: ['playpause','volume','progress'],
            audioVolume: 'horizontal',
            audioWidth: 400,
            audioHeight: 120
        });
        })
    });
</script>